<div class="container">
  <div class="row signup_header">
    <div class="col-md-12">
      <h1> Sign up for an account at Show Me What You Got </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render "form" %>
    </div>
  </div>
</div>
