<div class="jumbotron">
  <div class="container">
    <div class="col-md-offset-6 col-md-6">
      <h1 class="jumbo_title">SHOW ME WHAT YOU GOT</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 home_title">
      <h2>Welcome to the Galleria</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 first_para">
      <p>
        You can do this cool stuff here
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 second_para">
      <p>
        This is another row of cool stuff.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      Sign up here
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <button type="button" class="btn btn-primary btn-lg btn-block"> <%= link_to "Sign up here", new_user_path %> </button>
    </div>
  </div>
</div>
