<div class="jumbotron">
  <div class="container-">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="jumbo_title">SHOW ME WHAT YOU GOT</h1>
    </div>
  </div>
</div>

<div class="container-fluid marketing_body">
  <div class="row">
    <div class="col-md-12">
      <h2 class="welcome">Welcome</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 first_para">
      <p>
        Show Me What You Got is a photo gallery site where you can create galleries of all the cool stuff you've seen throughout the universe.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 second_para">
      <p>
        You can create multiple galleries to sort your pictures and share with friends, family, and total strangers.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Create an account to get started!
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= link_to "Sign up here", new_user_path, class: "btn btn-primary btn-lg btn-block signup_btn" %> </button>
    </div>
  </div>

</div>
