// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'get_schwifty';
    src: font-url('get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff2') format('woff2'),
         font-url('get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
