// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'get_schwifty';
    src: font-url('get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff2') format('woff2'),
         font-url('get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.gallery_list_header {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.gallery_line {
  padding: 15px;
}

.edit_button {
  font-size: 0.8em;
  padding: 5px;
}

.new_gallery_button {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 12px;
}
