.error_header {
  margin-top: 30px;
  text-align: center;
}

.error_image {
  height: 500px;

  img {
    height: 500px;
  }
}

.error_text {
  margin-top: 200px;
}

.error_body {
  margin-bottom: 50px;
}
