// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
}
.navbar {
  margin: 0px;
}
.jumbotron {
    background-color: yellow;
    height: 400px;

  .navbar {

  }

  .jumbo_title {
    text-align: center;
  }

} // jumbotron

.home_title {
  text-align: center;
}

.body_1 {
  text-align: center;
}
