// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
}
.navbar {
  background-color: black;
  margin: 0px;
}

.navbar-text {
  color: lightgrey;
}

.navbar-right {
  padding-right: 20px;
}

.jumbotron {
  background-image: image-url("banner_full.png");
  background-size: cover;
  height: 400px;
  margin-bottom: 0px;

  .jumbo_title {
    color: #45F35F;
    font-family: 'get_schwifty';
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 2px 2px black;

  }

} // jumbotron

.marketing_body {
  background-color: lightgrey;
  padding-bottom: 50px;
  text-align: center;
}

.welcome {
  color: #4D9040;
  font-family: 'get_schwifty';
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.body_1 {
  text-align: center;
}

.signup_btn {
  margin-top: 25px;

  a {
    color: white;
  }
}

footer {
  background-color: black;
  height: 100px;

  .footer {
    color: white;
  }
}
