// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
  margin-bottom: 20px;
  text-align: center;
}

.prev_next {
  margin-top: 30px;
}

.return {
  margin-top: 50px;
}

.add_photo_header {
  text-align: center;
}

.submit_button {
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 12px;
  text-align: center;
}
