<!DOCTYPE html>
<html>
  <head>
    <title>Galleria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


  <footer>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <p>  This is the footer </p>
      </div>
    </div>

  </footer>

  </body>



</html>
